# ============================================
# GLOBAL / OS / IDE (Berlaku untuk semua folder)
# ============================================
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# VSCode & Editor Config
.vscode/
.history/
*.code-workspace

# JetBrains (PyCharm / Android Studio)
.idea/
*.iws
*.iml
*.ipr
out/

# Machine Learning (Python/YOLO)
# Byte-compiled / Optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Datasets & Data
data/
dataset/
datasets/

# Large Model Files (Supaya tidak error saat push karena >100MB)
*.pt
*.pth
*.weights
*.ckpt
*.onnx
*.tflite
*.h5

# Model directories (Output training)
runs/
models/
weights/
logs/
training_results/

# Android App (Kotlin/Gradle)
# Gradle files
.gradle/
build/

# Local configuration file
local.properties

# Proguard
proguard-logs/

# Log Files
*.log

# Android Studio Navigation Editor temp files
.navigation/

# Captures
captures/

# Keystore files (Kunci keamanan)
*.jks
*.keystore
*.pem
*.p12
*.key

# Google Services
# google-services.json

# Mobile specific build outputs
*.apk
*.aab